.vscode/**
.vscode-test/**
src/**
.gitignore
esbuild.mjs
tsconfig.json
**/*.map
node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/index.html
webview-ui/vite.config.ts
webview-ui/tsconfig.json
webview-ui/components.json
webview-ui/.vite-port
out/**
